#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Icon=utilities-terminal
Type=Application
Name=Layout Manager
Exec=/home/miguel/.dotfiles/bin/layout-manager
